.h_center{
    text-align: center;
}

.form_log_reg{
    margin: auto;
    border-radius: 3px 3px 3px 3px;
    background-color: rgb(237, 237, 237);
    padding: 15px;
    width: 210px;
}
.form_log_reg > label{
    font-weight: bold;
}
.form_button{
    background-color:rgb(147, 215, 45);
    color:white;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
    width: 210px;
    transition: 0.3s;
}
.form_input{
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
    margin: 3px 0px;
    width: 200px;
    transition: 0.3s;
}

#table_reservation,td,th{
    margin:auto;
    border: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: rgb(186, 186, 186);
    padding:5px 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color:white;
    transition: 0.2s;
}
tr:nth-child(odd) {
    background-color:rgb(228, 228, 228);
    transition: 0.2s;
}
