@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary" asp-area=""
                asp-page="/ReservationList">All Reservations</a>
        
        <br>
        <br>
        <a class="btn btn-primary" asp-area=""
                asp-page="/AddReservation">Make Reservation</a>
        

    }
    
</div>
